#container {
	border: 1px solid blue;
	background-color: grey;
	width: 960px;
	margin: 0 auto;



}

.grid, .firstRow, #container > div{
	height: 60px;
	width: 50px;
	background-color: green;
	border: 1px solid red;
	display: inline-block;
}