#container {
	width: 960px;
	height: 960px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;
}

.grid, #container > div {
	height: 60px;
	width: 60px;
	background-color: DarkOliveGreen;
	display: inline-block;
}

#button_wrap {
	text-align: center;
	margin-bottom: 10px;
}