#container {
	max-width: 960px;
	margin: 0 auto;
	font-size: 0;
	text-align: center;

/*
	background-color: grey;
	border: 1px solid blue;
	max-width: 1000px;



*/

}

.grid, #container > div {
	height: 60px;
	width: 50px;
	border: 1px solid red;


	display: inline-block;

/*

border: 1px solid red;
	background-color: green;

*/

}

.changeColor {
	background-color: purple;

}

/*

.nextRow {
	clear: both;
}
/*
.grid, .firstRow, #container > div{
	height: 60px;
	width: 50px;
	background-color: green;
	border: 1px solid red;
	display: inline-block;
}
*/